
<section>
  <h2>My Profile</h2>
</section>

{{!-- <button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Pet</a></button> --}}

{{!-- <script src="/js/add-post.js"></script> --}}
