<div class="card">
  <h3 class="card-header">Edit Pet</h3>
  <form class="card-body edit-post-form">
    <label for="pet-name" class="form-label">Pet Name</label>
    <input name="pet-name" type="text" value="{{petname}}" class="form-input" />
    <label class="form-label" for="pet-dob">DOB</label>
    <input name="pet-dob" type="text" value="{{dob}}" class="form-input" />
    <button type="submit" class="btn">Update Pet</button>
    <button type="button" class="delete-post-btn btn">Delete Pet</button>
  </form>
</div>

<script src="/js/edit-pet.js"></script>
<script src="/js/delete-pet.js"></script>
