
<div class="flex-column justify-space-around">
  <div class="display-flex justify-space-between align-center mb-4">
    <h3>Pet & Vaccination Records</h3>
    <nav class="navbar navbar-dark bg-dark">
      <div class="icons">
        {{!-- <i class="fas fa-plus text-light">Add Pet</i> --}}
        <button 
          class="btn btn-primary" 
          id="addpetbtn" 
          type="submit">
          <i class="fas fa-plus text-light"></i>
          Add Pet
        </button>
      </div>
    </nav>
  </div>
</div>

{{#if petInfo.length}}
  <article id="petinfocontainer">
    {{#each petInfo as |pet| }}
      {{> pet-info pet}}
    {{/each}}
  </article>
{{/if}}

<script src="/js/addPet.js"></script>
{{#if petInfo.length}}
<script src="/js/petInfoButtons.js"></script>
{{/if}}
