
{{!-- // create fields/columns for the Pet model
  // petname
  // pet_license_no
  // license_exp_date
  // breed
  // dob
  // pet_photo
  // date_created
  // user_id --}}

<div class="card">

    <h3 class="card-header">Create New Pet Input</h3>

    <form class="card-body new-pet-form" id="new-pet-form">

        <label for="pet-title" class="form-label">Pet Name</label>
        <input type="text" id="pet-name" name="pet-title" class="form-input" />

        <label class="form-label" for="license-no">License number:</label>
        <input id="pet-license-no" name="license-no" class="form-input" />

        <label class="form-label" for="lic-exp-date">License Expiration:</label>
        <input id="lic-exp-date" name="lic-exp-date" class="form-input" />

        <label class="form-label" for="pet-breed">Breed:</label>
        <input id="pet-breed" name="pet-breed" class="form-input" />

        <label class="form-label" for="pet-dob">Date of Birth:</label>
        <input id="pet-dob" name="pet-dob" class="form-input" />

        <input type="file" id="upload-file" name="file">
        {{!-- <div class="form-group">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div> --}}

        <button type="submit" class="btn" id="addPetBtn">Create</button>
    </form>

</div>

<script src="/js/addNewPet.js"></script>
