<form class="upload-form">
  <input type="file" id="upload-file" name="file">
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Upload</button>
  </div>
</form>

<script src="/js/addNewPetImg.js"></script>
