header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

ul {
  margin-left: 2rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: red; /* yellow; #065b83; */
  background-color: white; /* black; */
  text-decoration: underline;
}

/* .dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

/* .icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
} */
.icons i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* ------------------------------------------ */

/* .note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
} */

/* .note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
} */

/* .note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
} */

/* .note-title:read-only,
.note-textarea:read-only {
  color: #757575;
} */

/* ------------------------------------------ */

/* .list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

/* .list-container {
  padding-left: 0;
} */

/* .list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
} */

/* .list-item-title {
  display: inline-block;
  width: 75%;
} */

/* .list-container i {
  font-size: 1.1rem;
  cursor: pointer;
} */

/* .list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
} */
