:root {
  --blue-lighten-2: #64b5f6; /* #64b5f6 blue lighten-2 */
  --blue-lighten-5: #e3f2fd; /* #e3f2fd blue lighten-5-2 */
  --blue-darken-2: #1976d2; /* #1976d2 blue darken-2 */
  --dark-blue: #0d47a1;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

ul {
  margin-left: 2rem;
}

.petphoto {
  min-height: 100px;
  min-width: none;
  max-width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: black; /* var(--dark-blue); */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: red; /* yellow; #065b83; */
  background-color: white; /* black; */
  text-decoration: underline;
}

/* .dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

/* .icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
} */

.navbar {
  border-radius: 1rem;
}

.btn {
  padding: 0.5rem;
}

.btn .btn-primary {
  padding: 0.2rem;
  margin: 0.5rem;  
}

.icons i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* ------------------------------------------ */

/* .note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
} */

/* .note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
} */

/* .note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
} */

/* .note-title:read-only,
.note-textarea:read-only {
  color: #757575;
} */

/* ------------------------------------------ */

/* .list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

.list-container {
  padding-left: 0;
}

/* .list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
} */

/* .list-item-title {
  display: inline-block;
  width: 75%;
} */

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

/* .list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
} */

.vacIcons {
  position: relative;
  margin-left: -10px;
}

.yellow-brdr {
  border: 2px dotted yellow ;
}

.gray-brdr {
  border: 2px solid gray;
  padding: 5px 10px;
}

.edit-ftr {
  background-color: var(--blue-lighten-5);
}

.edit-ftr-icons {
  background-color: var(--blue-darken-2);
}

/* <!-- The Bootstrap break points: -------------------------------- -->
   <!-- xs      sm        md        lg         xl          xxl       -->
   <!-- <576px  ≥576px    ≥768px    ≥992px     ≥1200px	    ≥1400px   -->
   <!-- ------------------------------------------------------------ -->
   <!-- 0..575  576..767  768..991  992..1199  1200..1399  1400..??? -->
   <!-- ------------------------------------------------------------ -->

   <!-- The Bootstrap 'container-fluid' class provides: -->
   <!--    width: 100%;         -->
   <!--    padding-right: 15px; -->
   <!--    padding-left: 15px;  -->
   <!--    margin-right: auto;  -->
   <!--    margin-left: auto;   --> */

/* ------------------------------ */
/* --- Need to be responsive: --- */
/* ------------------------------ */

/* @media screen and (max-width: 625px)
{
  .container {
    min-width: 400px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding: 1% 15px 1% 15px;
  }

  .vacIcons {
    position: relative;
    margin-left: 0;
  }
} */
